$break-medium: 768px;
$break-large: 1200px;

body {
  // .auth-title {
  //   text-align: center;
  // }
  .gm-style .gm-style-cc span,
  .gm-style .gm-style-cc,
  .gm-style-cc a,
  .gm-style .gm-style-mtc div,
  .gm-fullscreen-control {
    display: none;
  }
  .border-light-green {
    border-color: #39e4a9 !important;
  }
  .popover {
    max-width: 30vh;
    transform: "translate(-50%, -50%)";
  }

  @media screen and (max-width: $break-medium) {
    .NavBar {
      .navbar-brand {
        margin-right: 0.5rem !important;
      }
      .ShallEatTitle,
      .navbar-toggler {
        display: none !important;
      }
      .SearchBox {
        width: 39vw;
      }
      .nav-link {
        margin: 0 !important;
        margin-left: 0.5rem !important;
      }
      .fadeOutUp {
        display: none;
      }
    }
    .SignInPage {
      .SignInForm,
      .SignUpForm {
        box-shadow: none !important;
      }
    }
    .MainPage {
      margin: 0.5rem 0.5rem !important;

      .map-review-wrapper {
        flex-wrap: wrap;
        .GoogleMap-container {
          width: 100% !important;
          height: 50%;
        }
        .RestList-container {
          height: 50%;
          width: 100% !important;
          margin: 0 !important;
          margin-top: 0.5rem !important;
          .RestList {
            padding: 0 !important;
          }
        }
      }
      .RadiusBar-container {
        width: 100% !important;
        margin: 0 1rem;
      }
      .SearchBar-container {
        display: none;
      }
      .meta-data-container {
        .RestItem-title {
          width: 65vw !important;
        }
      }
    }
  }
  // @media screen and (min-width: $break-large) {
  //   float: right;
  // }
}
